@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Titillium+Web:wght@200&display=swap');
body{
    width: 100%;
    height: max-content;
    background-color: rgb(39, 39, 39);
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    color: rgb(214, 214, 214);
    overflow-x: hidden;
}
#first-strike{
    width: 100%;
    height: 100vh;
}

.header{
    width: 100%;
    height: 3.7rem;
    background-color: rgb(0, 0, 0);
    border-bottom: .1rem solid rgb(74, 252, 74);
}
.header__nav{
    width: 100%;
    height: 100%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 3rem;
}
.header__li{
    list-style: none;
}
.header__li a{
    text-decoration: none;
    list-style: none;
    position: relative;
    top: -.5rem;
    color: rgb(214, 214, 214);
}
.header__li img{
    width: 1.4rem;
    height: 1.4rem;
    margin: .5rem;
}
.header__li__img__logo{
    transform: scale(1.7);
}
.laptops{
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 16rem;
    padding: .5rem;
}
.laptops h3{
    font-size: 2.5rem;
    color: rgb(74, 252, 74);
    text-align: center;
    margin-top: 0;
}
.laptops p{
    text-align: center;
    font-weight: 300;
    width: 70%;
    margin: 0 auto;
}

/* cajas */
.contentPcs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}
.contenedorCaja{
    width: 25rem;
    height: 33rem;
    background-color: rgb(14, 14, 14);
    border-bottom: .1rem solid rgb(74, 252, 74);
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.contenedorCaja img{
    width: 100%;
    height: 65%;
}
.contenedorCaja h4{
    margin-left: 1.5rem;
    color: rgb(74, 252, 74);
}
.contenedorCaja p{
    font-size: .9rem;
    margin-left: 1.5rem;
    margin-bottom: .5rem;
}
/* youpc */
#yourPc{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(160deg,
    rgb(20,20,20,.7),
    rgb(20,20,20,.2)
    )
    ,url("../imagenesPc/949604.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: .1rem solid rgb(74, 252, 74);
}
.contentImgPubli{
    width: 100%;
    height: max-content;
}
.contentImgPubli img{
    width: 100%;
}
/* footer */
.openResponsive img{
    display: none;
}
footer{
    width: 100% ;
    height: 23rem;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    background-color: rgb(17, 17, 17);
    border-top: .1rem solid rgb(74, 252, 74);
    padding: .5rem  ;
    font-size: 1rem;
}
.footer__content{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 1.8rem;
    color: rgb(190, 190, 190);
}
.footer__content div{
    color: white;
    font-weight: bold;
}
.footer__content a{
    margin-top: .3rem;
    margin-bottom: .3rem;
    text-decoration: none;
    color: rgb(190, 190, 190);
}
.footer__content h3{
    font-size: 1.9rem;
    color: rgb(74, 252, 74);
}
.contentImgRedes img{
    height: 3rem;
    width: 3rem;
    margin: 0 .6rem ;
}
@media (max-width: 600px){
    
    #first-strike{
        height: max-content;
    }
    .header{
        width: 100%;
        height: 80vh;
        background-color: rgb(13, 13, 13);
        position: relative;
        left: -100%;
        display: none;
    }
    .response{
        position: relative;
        left: 0;
        display: block;
    }
    .header__ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-right: 3rem;
    }
    .header__li{
        list-style: none;
    }

    .laptops{
        height: max-content;
    }

    footer{
        width: 100% ;
        height: 250vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;   
        background-color: rgb(17, 17, 17);
        border-top: .1rem solid rgb(74, 252, 74);
        padding: .5rem  ;
    }
    .footer__content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 1.8rem;
        color: rgb(190, 190, 190);
    }
    .openResponsive{
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(14, 14, 14);
    }
    .contentMenu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .linea1{
        width: 2rem;
        height: .1rem;
        background-color: white;
        margin-bottom: .6rem;
    }
    .linea2{
        width: 2rem;
        height: .1rem;
        background-color: white;
        margin-bottom: .3rem;
    }
    .linea3{
        width: 2rem;
        height: .1rem;
        background-color: white;
        margin-top: .3rem;
    }
    }